<!-- Footer -->
<div style="position: absolute;bottom: 0;width:100%">

<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">F</h5>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">


        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
</div>
<!-- Footer -->